header {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: relative;
  padding-right: 5px;
}

.logo {
  margin-left: 10px;
}

.logo img {
  width: 100px;
}

nav {
  display: flex;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
}

a:hover {
  color: #666;
}

.resume-button {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  color: var(--primary-color);
}

.resume-button:hover {
  transition: all 0.2s ease-in-out;
  color: var(--primary-color);
  background-color: rgba(56, 191, 167, 0.11);
}

.theme-switcher {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-left: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.menu-toggle{
  display: none;
  color: #333;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.menu-items li {
  margin: 0 1rem;
  list-style: none;
}

@media screen and (max-width: 720px) {
  header{
    justify-content: flex-end;
    position: relative;
  }
  
  .menu-toggle{
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
    text-align: right;
    border: none;
  }

  .menu-items {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
  }

  .menu-items.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .menu-items li {
    margin: 1rem 0;
  }
}
