.footer{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.text{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    display: none;
}

@media screen and (max-width: 720px) {
    .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    
    ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    }

    li {
    width: 20px;
    margin: 0 15px;
    }
}
