.job-tabs {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
  width: 20%;
  margin-top: 4%;
  position: relative;
  border: none;
  padding-right: 10px;
}

.job-tabs .tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 45px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left: solid 2px transparent;
  background-color: transparent;
}

.job-tabs .tab:hover {
  background-color: var(--secondary-color);
}

.sliding-div {
  width: 2px;
  height: 45px; /* para que tenga la misma altura que el contenedor */
  background-color: var(--primary-color); /* color de fondo */
  position: absolute; /* para que sea absoluto y se posicione a la izquierda */
  left: 0;
  top: 0;
  transition: transform 0.5s ease; /* para la animación */
  z-index: 100;
}

.job-content{
  width: 70%;
}

.job-content-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
  width: 100%;
  margin-top: 4%;
  position: relative;
  border: none;
  transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.job-content-item-title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
  color: black;
}

.job-content-item-date{
  margin-top: 2px;
  font-family: 'Open Sans';
  font-size: 13px;
}

ul {
  display: grid;
  list-style: none;
  grid-gap: 20px;
  padding: 0;
}

li {
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: start;
}

li:before {
  content: "›";
  color: var(--primary-color);
  margin-right: 8px;
}
