<div class="masterBox" [ngsRevealSet]="{reset:true}" [ngsInterval]="150" [ngsSelector]="'.item-about'">
  <div class="item-about title">
    <h1>About me</h1>
  </div>
  <div class="contentBox">
    <div class="item-about text">
      Hi, I'm Juan, a DevOps developer with experience in full stack web development.
      I currently work as DevOps at Pyxis, where I work on infrastructure automation and developing software solutions for clients.
      <br>
      <br>

      In addition, I participated as a <b>full stack developer</b> in an exciting NFTs project,
      where I implemented scalable and secure solutions for the management of digital assets and the platform itself.
      <br>
      <br>

      I am <b>in the final stretch of my Engineering career</b> and I am always looking to learn and improve my skills to offer creative and innovative solutions to the challenges of the world of technology.
      I am passionate about teamwork, facing new challenges and I am always open to new opportunities and interesting projects.
      <br>
      <br>

      Here are a few technologies I’ve been working with recently:

      <ul>
        <li>TypeScript</li>
        <li>C++</li>
        <li>Angular</li>
        <li>SQL</li>
        <li>Linux</li>
        <li>Amazon Web Services</li>
      </ul>
    </div>
    <div class="container">
      <div class="item-about container__image">
        <div class="container__info container__author">Developer <a class="link" href="https://www.linkedin.com/in/juan-toledo-dev/" target="_blank">Juan Toledo</a></div>
        <div class="container__info container__location">Contact with me: <a class="link" href="https://instagram.com/silvia.diaconescu" target="_blank">Mail</a></div>
      </div>
    </div>
  </div>
</div>
