<div class="masterBox">
  <div class="title">
    <h1>About me</h1>
  </div>
  <div class="contentBox">
    <div class="text">
      Hello! My name is Juan.
      I am currently working as DevOps at Pyxis.
      I have experience in web development and I am passionate about understanding new technologies in
      depth and quickly acquiring new knowledge.
    </div>
    <div class="container">
      <div class="container__image">
        <div class="container__info container__author">Developer <a class="link" href="https://www.linkedin.com/in/juan-toledo-dev/" target="_blank">Juan Toledo</a></div>
        <div class="container__info container__location">Contact with me: <a class="link" href="https://instagram.com/silvia.diaconescu" target="_blank">Mail</a></div>
      </div>
    </div>
  </div>
</div>
