<div class="masterBox">
  <div class="title">
    <h1>About me</h1>
  </div>
  <div class="contentBox">
    <div class="text">
      Hello! My name is Juan.
      I am currently working as DevOps at Pyxis.
      I have experience in web development and I am passionate about understanding new technologies in
      depth and quickly acquiring new knowledge.
    </div>
    <div class="profileImage">
        <img src="https://media.licdn.com/dms/image/D4D03AQGczio8lYl1wQ/profile-displayphoto-shrink_800_800/0/1672751150740?e=1678924800&v=beta&t=w3r6mQDsdXOi-MVoKV5soSeTU9IvhkK-uJ6brWOCYYQ" alt="Profile image" />
    </div>
  </div>
</div>
