<body [ngsRevealSet]="{reset:false}" [ngsInterval]="150" [ngsSelector]="'.item-bars'">
  <aside class="sidebar left">
    <div class="logos">
      <ul>
        <li>
          <a class="item-bars" href="https://github.com/jstf13" aria-label="GitHub" target="_blank" rel="noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
              <title>GitHub</title>
              <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
            </svg>
          </a>
        </li>
        <li>
          <a class="item-bars" href="https://www.linkedin.com/in/juan-toledo-dev/" aria-label="Linkedin" target="_blank" rel="noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin">
              <title>LinkedIn</title>
              <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
              <rect x="2" y="9" width="4" height="12"></rect>
              <circle cx="4" cy="4" r="2"></circle>
            </svg>
            </a>
        </li>
        <li>
          <a class="item-bars" href="https://www.instagram.com/juan.__toledo/">
            <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
              <title>Instagram</title>
              <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
              <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
            </svg>
          </a>
        </li>
        <li>
          <a class="item-bars" href="https://api.whatsapp.com/send?phone=59899444693&text=Hi,%20I'm%20contacting%20you%20from%20your%20personal%20website" aria-label="WhatsApp" target="_blank" rel="noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-whatsapp">
              <title>WhatsApp</title>
              <path d="M21.207 2.793C19.582 1.168 17.157.225 14.622.225H9.378C6.843.225 4.418 1.168 2.793 2.793C1.168 4.418.225 6.843.225 9.378V14.622c0 2.535.943 5.06 2.793 6.685C4.418 22.832 6.843 23.775 9.378 23.775H14.622c2.535 0 5.06-.943 6.685-2.793C23.775 19.657 24.718 17.232 24.718 14.697V9.378C24.718 6.843 23.775 4.418 21.207 2.793zM17.526 15.544c-.329.329-.768.439-1.204.439a1.72 1.72 0 0 1-1.569-.998l-.423-1.023c-.197-.469-.082-.52.262-.797.34-.284.771-.607 1.062-.898.292-.291.51-.503.794-.843.277-.343.329-.458.798-.262.472.197 1.227.623 1.799 1.194.571.571.997 1.327 1.194 1.799.197.472.081.521-.262.798-.34.284-.654.689-.998 1.062-.292.292-.505.51-.843.793z"></path>
            </svg>           
          </a>
        </li>        
      </ul>
    </div>
  </aside>
  <aside class="sidebar right">
    <div class="mailBox">
      <div class="mail">
        <a (click)="sendEmail()" class="item-bars" href="juansebastiantoledofreire@hotmail.com">juansebastiantoledofreire@hotmail.com</a>
      </div>
    </div>
  </aside>
</body>
