.greeting {
  font-weight: 600;
  height: 30px;
  margin-bottom: 10px;
}

.name h1 {
  margin: 0;
}

.name h2 {
  margin: 0;
}

.name .nameText {
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  line-height: 1.1;
}

.name .job {
  margin: 0;
  font-size: clamp(40px, 7vw, 80px);
  font-weight: 600;
  line-height: 1.1;
  color: #38BFA7;
}

.summary{
  width: 50%;
}
