.greeting {
  font-weight: 600;
  height: 30px;
  margin-bottom: 10px;
}

.name h1 {
  margin: 0;
}

.name h2 {
  margin: 0;
}

.name .nameText {
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  line-height: 1.1;
}

.name .job {
  margin: 0;
  font-size: clamp(40px, 7vw, 80px);
  font-weight: 600;
  line-height: 1.1;
  color: var(--primary-color);
}

.summary{
  width: 50%;
}

.buttonContainer{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
}

.contact-button{
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  color: var(--primary-color);
  cursor: pointer;
  transition: var(--transition);
}

.contact-button:hover {
  color: var(--primary-color);
  background-color: rgba(56, 191, 167, 0.11);
  transition: var(--transition);
}

@media screen and (max-width: 720px){
  .greeting {
    width: 100%;
    align-self: start;  
  }

  .summary{
    width: 80%;
  }

  .buttonContainer{
    width: 100%;
    align-items: start;
  }

  .contact-button{
    /* alinearlo a la izquierda */
    align-self: start;    
  }
}
