<div id="#introduction" class="masterBox" [ngsRevealSet]="{ reset:true}" [ngsInterval]="300" [ngsSelector]="'.item'">
  <div class="item greeting">
    <h4>Hi, I'm</h4>
  </div>
  <div class="item name">
    <h1><span class="nameText">Juan Toledo</span></h1>
    <h2><span class="job">I'm a Web Developer</span></h2>
  </div>
  <div class="item summary">
    <p>I am currently working as DevOps at Pyxis.
      I have experience in web development and I am passionate about understanding new
      technologies in depth and quickly acquiring new knowledge.</p>
  </div>
  <div class="item buttonContainer">
    <a href="#" (click)="sendEmail()" class="contact-button">Contact with me</a>
  </div>
</div>
